html {
  height: 100%;
}
body {
  background-color: #f6f6f6;
  min-height: 100%;
}

footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  /* margin-top: auto; */
  top: 100%;
  padding-bottom: 0.5rem;
  position: sticky;
  color: slategray;
}

h1 {
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-left: 5%;
  margin-bottom: 2%;
  margin-right: 2%;
}

a {
  display: inline;
}
.home {
  position: relative;
  margin-top: 125px;
}

.home_para{
  margin-bottom: 5rem;
}

.readmore_para {
  display: inline-block;
  max-width: 100ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.readmore_button {
  text-align: center;
  display: block;
  margin-left: 45%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #ff9494;
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.readmore_button:hover {
  color: #ee6983;
}

.navbar {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0%;
  background-color: #ffe2e2;
  height: auto;
  width: 100%;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
}
.navbar-brand {
  margin-left: 5%;
  letter-spacing: 0.3rem;
  font-weight: 300;
}
.navbar-brand:hover {
  color: #f56d91;
}
.links {
  margin-left: 1.5rem;
  text-decoration-line: none;
  color: inherit;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
.links:hover {
  color: #ff5c8d;
}

.compose {
  margin: 5%;
  margin-top: 0%;
}
